ITFinalConsumeWCFService/Connected Services/ITFinalAjaxDBService/ITFinalAjaxDBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:59271/ITFinalAjaxDBService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:59271/ITFinalAjaxDBService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59271/ITFinalAjaxDBService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITFinalWCFService.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITFinalAjaxDBService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="ITFinalAjaxDBService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ITFinalAjaxDBService_GetItemDetailAll_InputMessage">
    <wsdl:part name="parameters" element="GetItemDetailAll" />
  </wsdl:message>
  <wsdl:message name="ITFinalAjaxDBService_GetItemDetailAll_OutputMessage">
    <wsdl:part name="parameters" element="GetItemDetailAllResponse" />
  </wsdl:message>
  <wsdl:message name="ITFinalAjaxDBService_GetItemDetailById_InputMessage">
    <wsdl:part name="parameters" element="GetItemDetailById" />
  </wsdl:message>
  <wsdl:message name="ITFinalAjaxDBService_GetItemDetailById_OutputMessage">
    <wsdl:part name="parameters" element="GetItemDetailByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITFinalAjaxDBService_UpdateItemDetail_InputMessage">
    <wsdl:part name="parameters" element="UpdateItemDetail" />
  </wsdl:message>
  <wsdl:message name="ITFinalAjaxDBService_UpdateItemDetail_OutputMessage">
    <wsdl:part name="parameters" element="UpdateItemDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ITFinalAjaxDBService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:ITFinalAjaxDBService/DoWork" message="ITFinalAjaxDBService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITFinalAjaxDBService/DoWorkResponse" message="ITFinalAjaxDBService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemDetailAll">
      <wsdl:input wsaw:Action="urn:ITFinalAjaxDBService/GetItemDetailAll" message="ITFinalAjaxDBService_GetItemDetailAll_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITFinalAjaxDBService/GetItemDetailAllResponse" message="ITFinalAjaxDBService_GetItemDetailAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemDetailById">
      <wsdl:input wsaw:Action="urn:ITFinalAjaxDBService/GetItemDetailById" message="ITFinalAjaxDBService_GetItemDetailById_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITFinalAjaxDBService/GetItemDetailByIdResponse" message="ITFinalAjaxDBService_GetItemDetailById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemDetail">
      <wsdl:input wsaw:Action="urn:ITFinalAjaxDBService/UpdateItemDetail" message="ITFinalAjaxDBService_UpdateItemDetail_InputMessage" />
      <wsdl:output wsaw:Action="urn:ITFinalAjaxDBService/UpdateItemDetailResponse" message="ITFinalAjaxDBService_UpdateItemDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>