ITFinalConsumeWCFService/Connected Services/ITFinalAjaxDBService/ITFinalAjaxDBService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ITFinalWCFService.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ITFinalWCFService.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ItemDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="ItemMFDYear" type="xs:short" />
      <xs:element minOccurs="0" name="ItemMake" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemPurchasedOn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemSpecification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemUnitPrice" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemDetail" nillable="true" type="tns:ItemDetail" />
</xs:schema>